<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AyuboContext"
			  providerName="System.Data.SqlClient"
			  connectionString="Data Source=LAPTOP-5NPAHQ82\SQLEXPRESS;Initial Catalog=AyuboDatabase;Integrated Security=True"/>
	</connectionStrings>
</configuration>